/* Dit is een gedownloade font van google */
@font-face {
    font-family: 'myFont';
    src: 
        url('../fonts/AmaticSC-Regular.ttf'),
        url('../fonts/AmaticSC-Bold.ttf') 
}

* {
    text-align: center;
    font-family: 'myFont', 'sans-serif';
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}

div {
    display: inline-block;
}

/* dit is voor een plaatje op de achtergrond */
body {
    background-image: url("../images/background-ijs.png");
    background-repeat: no-repeat;   
    background-size: cover; 
    background-attachment: fixed;
    background-position:50% 50%;
}    

.papi-gelato-blok {
    background-color: rgba(133, 125, 245, 0.9);
    margin: 50px;
    padding: 10px;
    display: grid;
    border: 2px solid rgb(52, 0, 63);
}

.prijs-blok {
    background-color: white;
    border: 2px solid rgb(52, 0, 63);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 2%;
}

.prijs-blok h3 {
    margin: 0px;
}

.prijs-blok p {
    margin-bottom: 30px;
}
.smaak-blok {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: auto;
    height: 300px;
}

.ijs-blok {
    display: grid;
    border: 2px solid rgb(52, 0, 63);
    margin: auto;
    background-color: rgb(226, 185, 226);
}

p {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 24px;
}

.box select {
    width: 10%;
    height: 125%;
    margin: auto;
    background-color: blueviolet;
    color:white;
    font-size: 150%;
    border: none;
    border-radius: 5px;
}

button {
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(49, 5, 90);
    color:white;
    font-size: 150%;
    border: 1px solid rgb(52, 0, 63);   
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(150, 94, 161);
}

button:disabled {
    background-color: rgb(207, 146, 219);
}

#knop-ijs-toevoegen {
    margin-top: 30px;
    width: 10%;
}

#knop-afronden {
    width: 10%;
}

.img-blok {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.img-blok img {
    width: auto;
    height: 300px;
}

.img-stukje {
    border: 2px solid rgb(52, 0, 63);  
    margin: 10px;
    background-color: rgb(226, 185, 226);
}

#bon-blok {
    display: none;
}

.eind-blok {
    background-color: white;
    border: 2px solid rgb(52, 0, 63);
    width: 300px;
    margin: auto;
    padding: 10px;
}

.eind-blok p {
    text-align: left;
}

span {
    float:right;
}